.room-container {
  height: calc(100vh - 64px);
  width: 100%;
}

.room-row {
  height: calc(100vh - 64px);
  display: flex;
  align-content: stretch;
  margin: 0;
}

.video-sidebar {
  background: #145063;
  overflow: auto;
}

.chat-sidebar {
  background: #145063;
}

.plr-0 {
  padding-left: 0;
  padding-right: 0;
  position: relative; 
}

.room-video {
  padding: 0;
}