.room-container {
  height: calc(100vh - 64px);
  width: 100%;
}

.room-row {
  height: calc(100vh - 64px);
  display: flex;
  align-content: stretch;
  margin: 0;
}

.video-sidebar {
  background: lightcoral;
  overflow: auto;
}

.chat-sidebar {
  background: lightcoral;
}