.plr-0 {
  padding-left: 0;
  padding-right: 0;
  position: relative; 
}

.card {
  cursor: pointer; 
}

.row {
  margin: 0;
}

.video-title {
  font-size: 12px;
  padding: 5px;
  background: black;
}

.search-form {
  background: #145163;
  width: 100%;
  top: 0;
}

.input-field {
  margin-top: 5px;
  margin-top: 0;
  padding-left: 10px;
  padding-right: 10px;
  border: 0;
  font-size: 12px;
  // margin-bottom: 5px;
  color: #fff;

  input {
    margin-bottom: 5px;
    // border: 0;
  }
}


