.plr-0 {
  padding-left: 0;
  padding-right: 0; 
}

.search-bar {
  background: darkslategray;
}

.card {
  cursor: pointer; 
}

.row {
  margin: 0;
}

.video-title {
  font-size: 12px;
  padding: 5px;
}